	<ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Services
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>GENERAL</span></li>
        <li class="sidebar-list">
          <a href="#/manage/user"> Add Admin <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-title"><span>Customize</span></li>
        <li class="sidebar-list">
          <a href="#/manage/dashboard">  Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>