	<ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Services
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#/setup/media">Media <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
<!--         <li class="sidebar-list">
          <a href="#/manage/site/settings">Settings <span class="menu-icon fa fa-sun-o"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/manage/site/navigation">Navigations <span class="menu-icon fa fa-th-large"></span></a>
        </li>
         <li class="sidebar-list">
          <a href="#/manage/site/communications">Communications <span class="menu-icon fa fa-th-large"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/manage/site/checkouts">Checkouts <span class="menu-icon fa fa-th-large"></span></a>
        </li>
         <li class="sidebar-list">
          <a href="#/manage/site/reports">Reports <span class="menu-icon fa fa-th-large"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/manage/site/website">Website <span class="menu-icon fa fa-th-large"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#//manage/site/publish">Publish <span class="menu-icon fa fa-th-large"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/manage/site/view">View Site <span class="menu-icon fa fa-arrow-circle-o-right"></span></a>
        </li> -->
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>