	<ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Actions
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>GENERAL</span></li>
        <li class="sidebar-list">
          <a href="#/profile/account/setting"> Account Settings <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/profile/change/email">Email Address <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-title"><span>SECURITY</span></li>
        <li class="sidebar-list">
          <a href="#/profile/change/password"> Change password <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/profile/close/account">Close Account <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-title"><span>BILLING</span></li>
        <li class="sidebar-list">
          <a href="#/profile/billing/details"> Billing Details <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>