<div class="row">
	<div class="col-xs-12">
		<!-- stats start  -->
 	<div class="row text-center" ng-controller="SiteListController">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <span class="ti-stats-up"></span>
                </span>
                <div class="box-info">
                    <h2><span class="size-h4"></span>{{sites.length}}</h2>
                    <p class="text-muted"><span data-translate="dashboard.label.events" class="ng-scope">Total Raised</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-user"></i>
                </span>
                <div class="box-info">
                    <h2>22 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="dashboard.label.members" class="ng-scope">Donors</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ti-money"></i>
                </span>
                <div class="box-info">
                    <h2>81 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="dashboard.label.emailsent" class="ng-scope">Emails Sent</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ti-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <h2>13 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="dashboard.label.fbshare" class="ng-scope">FB Shares</span></p>
                </div>
            </div>
        </div>
    </div>
 	<!-- stats end  -->
	</div>
</div>
<br />
<div>
<a ui-sref="newSite" class="btn btn-primary" style="float: right;">Add New Site</a>
			<div class="bs-component" ng-controller="SiteListController">
				<form class="form-inline">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<!-- <th ng-click="sort('id')">Id
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th> -->
							<th ng-click="sort('first_name')">Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('first_name')">Created
								<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('last_name')">Description
								<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('last_name')">Masthead
								<span class="glyphicon sort-icon" ng-show="sortKey=='masthead'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th>Action
								<span class="glyphicon sort-icon" ng-show="sortKey=='action'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="site in sites|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
							<!-- <td>{{site.id}}</td> -->
							<td>{{site.name}}</td>
							<td>{{site.created | date:"MM/dd/yyyy"}}</td>
							<td>{{site.description}}</td>
							<td>{{site.masthead}}</td>
                     <td>
                     <a class="btn btn-primary" ui-sref="viewSite({id:site.id})" target="_blank">View</a>
            		 <a class="btn btn-primary" ui-sref="editSite({id:site.id})">Edit</a>
                     <a class="btn btn-danger"  ng-click="deleteSite(site)">Delete</a>
                     </td>
						</tr>
					</tbody>
				</table> 
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
			</div>
</div>