<div class="row">
 	<div class="col-lg-12">
 	<!-- stats start  -->
 	<div class="row text-center">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <span class="ti-stats-up"></span>
                </span>
                <div class="box-info">
                    <h2><span class="size-h4">$</span>1000</h2>
                    <p class="text-muted"><span data-translate="GROWTH" class="ng-scope">Total Raised</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-user"></i>
                </span>
                <div class="box-info">
                    <h2>22 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="NEW_USERS" class="ng-scope">Donors</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ti-money"></i>
                </span>
                <div class="box-info">
                    <h2>81 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="PROFIT" class="ng-scope">Emails Sent</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ti-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <h2>13 <span class="size-h4"></span></h2>
                    <p class="text-muted"><span data-translate="SALES" class="ng-scope">FB Shares</span></p>
                </div>
            </div>
        </div>
    </div>
 	<!-- stats end  -->
 <div class="panel panel-default">	
 	<div class="panel-body">
 	<h2>Create Site</h2>
 	<form class="form-horizontal">	
 		<div class="form-group">
 			<label class="col-sm-2 text-right" for="site-name">Site Name</label>
 			<div class="col-sm-4">
 				<input type="text" class="form-control" id="site-name"/>
 			</div>	
  		</div>
 		
 		<div class="form-group">
 			<label class="col-sm-2 text-right" for="site-description">Site Description</label>
 			<div class="col-sm-4">
 				<input type="text" id="site-description" class="form-control"/>
 			</div>	
 		</div>
 		<div class="form-group">
 			<label class="col-sm-2 text-right" for="site-dropdown">Site Dropdown</label>
 			<div class="col-sm-4">
 				<span class="ui-select">
                        <select id="site-dropdown">
                            <option value="Mustard">Mustard</option>
                            <option value="Ketchup">Ketchup</option>
                            <option value="Barbecue">Barbecue</option>
                        </select>
        		</span>
 			</div>	
 		</div>
 		<div class="form-group">
 			<label class="col-sm-2 text-right" for="site-dropdown">Site Radio</label>
 			<div class="col-sm-4">
 				<dd>
                            <label class="ui-radio"><input name="radio1" type="radio" value="option1"><span>Option 1</span></label>
                            <label class="ui-radio"><input name="radio1" type="radio" value="option2" checked=""><span>Option 2</span></label>
                            <label class="ui-radio"><input name="radio1" type="radio" value="option3"><span>Option 3</span></label>
                        </dd>
 			</div>	
 		</div>
 		<div class="form-group">
 			<label class="col-sm-2 text-right" for="site-dropdown">Site Checkbox</label>
 			<div class="col-sm-4">
 				<dd>
                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>Option 1</span></label>
                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option2" checked=""><span>Option 2</span></label>
                            <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>Option 3</span></label>
                        </dd>
 			</div>	
 		</div>
 		<div class="col-sm-2 text-right">
 			<input type="submit">
 		</div>
 	</form>	
 	</div>
 </div>	
 	</div>
</div>