<div class="row">
	<div class="col-lg-14">
		<div class="col-lg-10">
<div class="col-xs-12 col-xs-offset-2">
<a ui-sref="newUser" class="btn btn-primary">Add New User</a>
<table class="table table-condensed">
    <tr>
        <td><h4>All Users</h4></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">View</a>
            <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Edit</a>
            <a class="btn btn-danger"  ng-click="deleteUser(user)">Delete</a>
        </td>
    </tr>
</table>
	</div>
		</div>
	</div>
</div>