
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="pageTemplate.name" class="form-control" id="sitethemename" placeholder="Name"/>
    </div>
</div>

<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
        <div ng-controller="myCtrl">
    		 <textarea class="no-ck-editor" ng-model="pageTemplate.content"></textarea> 
    		<!-- <textarea ng-model="pageTemplate.content" data-ck-editor></textarea> -->
		</div>
    </div>
</div>
 
<div class="form-group">
    <label for="masthead" class="col-sm-2 control-label">Stylesheet</label>
    <div class="col-sm-10">
        <div ng-controller="myCtrl">
    		<textarea class="no-ck-editor" ng-model="pageTemplate.stylesheet"></textarea>
    		
		</div>
    </div>
</div> 

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <input type="button" class="btn" value="Cancel"/>
    </div>
</div>